body{
    background-color: black;
    color: white;
}
h1{
    color: darkgreen;
    font-family: fantasy;
}
table{
    font-family: Helvetica, serif;
    border-collapse: collapse;
    border-width: 3px;
    border-style: solid;
    border-color: darkgreen;
}
th{
    font-weight: 1000;
    background-color: darkgreen;
    color:black;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}